body {
    background-color: rgb(48, 48, 48);
    color:darkgoldenrod
}

textarea{
  resize:both;
  background-color: black;
  color:olive
}
button{
  background-color: black;
  color: darkmagenta;
  padding: 5px;
}
/* div{margin: 0px 0px 0px 0px;} */

a:link{
  color: rgb(184, 140, 31); 
}
a:visited{
  color: rgb(185, 149, 57); 
}
